@model IList<ActionCommandGame.Services.Model.Results.PlayerResult>
@{
    var topPlayers = new List<ActionCommandGame.Services.Model.Results.PlayerResult>();
    var otherPlayers = new List<ActionCommandGame.Services.Model.Results.PlayerResult>();
    bool showTopPlayers = false;
    bool showOtherPlayers = false;


    if (@Model.Count == 0)
    {
        topPlayers = null;
        otherPlayers = null;
    }
    else if (@Model.Count < 4)
    {
        showTopPlayers = true;
        foreach (var playerResult in @Model)
        {
            topPlayers.Add(playerResult);
        }
        topPlayers.Sort((player, player1) => player1.Money.CompareTo(player.Money));
        
    }
    else
    {
        showTopPlayers = true;
        showOtherPlayers = true;
        for (var i=0; i < 3; i++)
        {
            topPlayers.Add(@Model[i]);
        }

        topPlayers.Sort((player, player1) => player1.Money.CompareTo(player.Money));

        var temp = topPlayers[0];
        topPlayers.RemoveAt(0);
        topPlayers.Insert(1, temp);

        for (var i=3; i < @Model.Count; i++)
        {
            otherPlayers.Add(@Model[i]);
        }

        otherPlayers.Sort((player, player1) => player1.Money.CompareTo(player.Money));
    }
    

}

<div class="container">	
@if (@Model.Count == 0)
{
	<p>No players for user</p>
}
else
{
	if (showTopPlayers)
	{
	    <h1 class="yellowText">Top Gainers</h1>
	    <br>
	    <br>

	    <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <partial name="LeaderBoardTopPartial" model="@topPlayers[i]"/>
            }
        </div>
	}
	if (showOtherPlayers)
	{
	<h4 class="yellowText">All Players</h4>

	<table class="table">
        <thead>
            <tr>
                <th class="yellowText">Player</th>
                <th class="yellowText">Cash</th>
            </tr>
            </thead>
            <tbody>
	    @for (int i = 0; i <= @otherPlayers.Count-1; i++)
	    {
	        <partial name="LeaderBoardRowPartial" model="@otherPlayers[i]"/>
	    }
            
        </tbody>
    </table>	
        
	}
}

</div>
