@model ActionCommandGame.Services.Model.Results.ItemResult

<div class="col-lg-4 col-md-6 my-lg-0 my-3"><a class="hyperlink" asp-action="Buy" asp-route-id="@Model.Id">
    <div class="box" >
        <div class="d-flex align-items-center">
            <div class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center blue"> <img src="@Model.ImageLocation" alt="@Model.Name"> </div>
            <div class="d-flex flex-column">

                <p class="yellowText shopName">@Model.Name</p>
                <p class="prices">@Model.Price€</p>
                
                @if((@Model.Description != null ))
                {
                    <p class="description">@Model.Description</p>
                }
                
            </div>
        </div>
    </div></a> 
</div>

   
